Before we do a full pull from OMDB, we'll need to ping the OMDB API for any shows for which we couldn't pick up an IMDB ID from TVMaze (which generally has better search matching than OMDB). To do this, we need to be very careful about timing. I've written a custom wrapper and requests function that sleeps if a request times out due to server overload, such that the dataset does not need to be gathered piecemeal.

In [1]:
import pandas as pd
import numpy as np
import requests
import time
import re
from functools import wraps
import yaml
shows = pd.read_pickle("ismyshowcancelled_final.pkl")
tvmaze = pd.read_csv("tvmaze_tmp_3.csv",index_col=0)
auth = yaml.load(open('omdb.yaml'))
key = auth['OMDB']['Key']

There's about ~170 shows that don't have an IMDB ID according to tvmaze. I suspect, though, that this is a shortcoming in their database and not an actual indication that IMDB has no record of these shows. Let's first get a list of the ones we want to search for.

In [17]:
# This dataframe is going to house the shows with missing IMDB IDs, 
# as well as the IDs that we eventually (hopefully) will return
missing_imdb = pd.DataFrame(tvmaze[tvmaze['imdb'].isnull()]['name'])
missing_imdb['found_id'] = np.nan
missing_imdb['found_name'] = np.nan
missing_imdb.head()

                         name  found_id  found_name
301  Crash Course Engineering       NaN         NaN
625    Ink Master: Redemption       NaN         NaN

In [16]:
# A wrapper to retry the request function many times, with a sleep in between
def retry_multi(max_retries):
    """ Retry a function `max_retries` times. """
    def retry(func):
        @wraps(func)
        def wrapper(*args, **kwargs):
            num_retries = 0 
            while num_retries <= max_retries:
                try:
                    ret = func(*args, **kwargs)
                    break
                except:
                    if num_retries == max_retries:
                        raise
                    num_retries += 1
                    time.sleep(15)
            return ret 
        return wrapper
    return retry

In [17]:
# Building a requester for the IMDB IDs from OMDB (note that this differs from our tvmaze equivalent function)
@retry_multi(10)
def request_info(show):
    
    # proper formatting
    show = '-'.join(show.lower().split()).replace(':','')
    
    # define params for json request
    params = {'apikey':key,'t':show,'type':'series'}

    # send request via requests
    response = requests.get('http://www.omdbapi.com/?',params=params)
    
    return response

In [18]:
# Building functions to extract just the IMDB IDs and names (just to cross-check that the result wasn't erroneous)
# Later, we'll return to scrape all the information we want once we have a dataframe filled with necessary IDs
def get_json(response):
    
    # Just return the json, if the search was successful
    if response.json()['Response'] == 'True':
        success = True
    elif response.json()['Response'] == 'False':
        success = False
        
    # Return a dict indicating success/failure of request, with json
    return {'json':response.json(), 'success':success}

In [19]:
def extract_imdb(json_response):
    
    # get the id, if successful pull
    if json_response['success'] == True:
        return(json_response['json']['imdbID'])

def extract_title(json_response):
    
    # get the name, if successful pull. this is just for cross-checking and we'll delete it later
    if json_response['success'] == True:
        return(json_response['json']['Title'])

In [20]:
# Now writing a loop to ping for requests!
for show,index in zip(missing_imdb.name,missing_imdb.index):
    
    # Request the show from OMDB
    r = request_info(show)
    json_response = get_json(r)
    
    # Getting imdb id and title (will not collect anything if unsuccessful json response)
    imdb = extract_imdb(json_response)
    title = extract_title(json_response)
    
    # Doing a double check (also in function) that we got a good response, then inputting info back into our df
    if json_response['success'] is True:
        
        # Letting us know what happened
        print('Match for {}: {}. ID is {}'.format(show,title,imdb))
        
        # Adding this result back to our dataframe
        missing_imdb.loc[missing_imdb.index == index,'found_name'] = title
        missing_imdb.loc[missing_imdb.index == index,'found_id'] = imdb
        #missing_imdb.iloc[index].loc['found_id'] = imdb
        #missing_imdb.iloc[index].loc['found_name'] = title
        
    else:
        print('No match found for {}'.format(show))
    
    time.sleep(2)

Match for 500 Questions: 500 Questions. ID is tt4591316
Match for All My Children: All My Children. ID is tt0065272
Match for American Grit: American Grit. ID is tt5546352
Match for American Vandal: American Vandal. ID is tt6877772
Match for Battle of the Network Stars: Battle of the Network Stars. ID is tt7115526
Match for Beat Shazam: Beat Shazam. ID is tt6917254
Match for Bellevue: Bellevue. ID is tt6082618
No match found for Ben and Lauren: Happily Ever After
No match found for Bethenny and Fredrik
Match for Better Late Than Never: Better Late Than Never. ID is tt5020352
Match for Big Star Little Star: Big Star Little Star. ID is tt7174362
Match for Boy Band: Shut Up Flower Boy Band. ID is tt2942950
No match found for Brandi & Jarrod: Married to the Job
Match for Breaking Boston: Breaking Boston. ID is tt3600966
Match for The Capture: The Capture of the Green River Killer. ID is tt1100911
Match for Cardinal: Cardinal. ID is tt5583512
Match for Celebrity Big Brother: Celebrity Big Brother. ID is tt0279550
Match for Channel Zero: Channel Zero. ID is tt4820370
Match for The Chase: The Chase. ID is tt1502749
Match for Cheer Squad: Cheer Squad. ID is tt5993744
Match for Chesapeake Shores: Chesapeake Shores. ID is tt5151816
Match for Claws: Claws. ID is tt5640558
Match for Condor: Condor. ID is tt6510950
Match for Coupled: Coupled. ID is tt5866536
No match found for Crash Course Engineering
Match for Damnation: Damnation. ID is tt6106704
Match for Dark: Dark. ID is tt5753856
Match for Dating in the Dark: Dating in the Dark. ID is tt1477773
Match for Daytime Divas: Daytime Divas. ID is tt5512432
Match for Detroit Steel: Detroit Steel. ID is tt6403968
Match for Disjointed: Disjointed. ID is tt5884792
Match for Does Someone Have to Go?: Does Someone Have to Go?. ID is tt2933730
Match for Downward Dog: Downward Dog. ID is tt3879306
Match for Electric Dreams: Philip K. Dick's Electric Dreams. ID is tt5711280
Match for Extreme Makeover: Home Edition: Extreme Makeover: Home Edition. ID is tt0388595
Match for FABLife: FabLife. ID is tt5028898
Match for Fashion Star: Fashion Star. ID is tt1883661
Match for Friends from College: Friends from College. ID is tt5565334
Match for Future Man: Future Man. ID is tt4975856
Match for Get Shorty: Get Shorty. ID is tt5761496
Match for Ghosted: Ghosted. ID is tt6053538
Match for Gigi Does It: Gigi Does It. ID is tt5070488
Match for GLOW: GLOW. ID is tt5770786
Match for Goliath: Goliath. ID is tt4687880
Match for Greenleaf: Greenleaf. ID is tt4971144
Match for Hank Zipzer: Hank Zipzer. ID is tt3236954
Match for Haters Back Off!: Haters Back Off!. ID is tt5467814
Match for Home Free: Home Free. ID is tt4649390
Match for I Didn't Know I Was Pregnant: I Didn't Know I Was Pregnant. ID is tt1239443
Match for I'm Sorry: I'm Sorry. ID is tt5987254
Match for In the Motherhood: In the Motherhood. ID is tt1374983
Match for Incorporated: Incorporated. ID is tt4118466
No match found for Ink Master: Redemption
Match for Jean-Claude Van Johnson: Jean-Claude Van Johnson. ID is tt6682754
Match for Jersey Couture: Jersey Couture. ID is tt1659905
Match for Jersey Shore: Family Vacation: Jersey Shore Family Vacation. ID is tt7686456
Match for Kate Plus 8: Jon & Kate Plus 8. ID is tt1124348
Match for Kevin (Probably) Saves the World: Kevin (Probably) Saves the World. ID is tt6474174
Match for Pool Kings: Pool Kings. ID is tt5797926
Match for Knightfall: Knightfall. ID is tt4555364
Match for Law & Order True Crime: Law & Order True Crime. ID is tt6110318
Match for Leah Remini: Scientology and the Aftermath: Leah Remini: Scientology and the Aftermath. ID is tt6244192
Match for Life: Life. ID is tt0874936
Match for Loaded: Loaded. ID is tt6210192
Match for Loosely Exactly Nicole: *Loosely Exactly Nicole. ID is tt5862660
Match for Loudermilk: Loudermilk. ID is tt5957766
Match for Love & Hip Hop Hollywood: Love & Hip Hop: Hollywood. ID is tt3706642
Match for Love at First Kiss: Love at First Kiss. ID is tt6018030
Match for Love Connection: Love Connection. ID is tt0170968
Match for Love Is ___: To Love is Forever. ID is tt0472642
Match for Mama June from Not to Hot: Mama June: From Not to Hot. ID is tt6663476
Match for Man Up: Man Up. ID is tt1828238
Match for Martha & Snoop's Potluck Dinner Party: Martha & Snoop's Potluck Dinner Party. ID is tt6264286
Match for Maya & Marty: Maya & Marty. ID is tt5543284
No match found for Me, Myself & I
Match for Meteorite Men: Meteorite Men. ID is tt1487514
Match for Million Dollar Listing: San Francisco: Million Dollar Listing San Francisco. ID is tt4836824
Match for Mosaic: Mosaic. ID is tt5056958
Match for My Big Fat Fabulous Life: My Big Fat Fabulous Life. ID is tt4388486
Match for My Five Wives: My Five Wives. ID is tt3587176
Match for Mystery Science Theater 3000: The Return: Mystery Science Theater 3000: The Return. ID is tt6782014
No match found for Nate and Jeremiah by Design
Match for Neighbors with Benefits: Neighbors with Benefits. ID is tt4633986
Match for Nightcap: Nightcap. ID is tt5507340
Match for Nobodies: Nobodies. ID is tt4925366
Match for Oh Sit!: Oh Sit!. ID is tt2328894
Match for One Life to Live: One Life to Live. ID is tt0062595
Match for One Mississippi: One Mississippi. ID is tt4947608
Match for Only in America with Larry the Cable Guy: Only in America with Larry the Cable Guy. ID is tt1832727
Match for Outlaw Tech: Outlaw Tech. ID is tt6846022
Match for Pose: Pose. ID is tt7562112
Match for Powerless: Powerless. ID is tt5083928
Match for Queen Sugar: Queen Sugar. ID is tt4419214
Match for Raven's Home: Raven's Home. ID is tt6311972
Match for The Reaper: The Reaper. ID is tt4676130
Match for Rellik: Rellik. ID is tt6768146
Match for Reverie: Reverie. ID is tt6461746
Match for Rising Star: Rising Star. ID is tt3748704
Match for Room 104: Room 104. ID is tt6064882
Match for Sarah Palin's Alaska: Sarah Palin's Alaska. ID is tt1625263
Match for Save Me: Save Me. ID is tt2245117
Match for Say Yes to the Dress: Bridesmaids: Say Yes to the Dress: Bridesmaids. ID is tt2006563
Match for Search Party: Search Party. ID is tt5460226
Match for Secrets and Lies: Secrets and Lies. ID is tt3516878
Match for Shots Fired: Shots Fired. ID is tt5093452
Match for Siesta Key: Siesta Key. ID is tt7183282
Match for Skating with the Stars: Skating with the Stars. ID is tt1760165
Match for Something Borrowed, Something New: Something Borrowed, Something New. ID is tt2715830
Match for Somewhere Between: Somewhere Between. ID is tt6467294
Match for Splash!: Splash!. ID is tt3419968
Match for Stan Against Evil: Stan Against Evil. ID is tt5722214
Match for Still Star-Crossed: Still Star-Crossed. ID is tt5165412
Match for StartUp: StartUp. ID is tt5028002
Match for Steve Harvey's Funderdome: Steve Harvey's Funderdome. ID is tt7005048
Match for Still Star-Crossed: Still Star-Crossed. ID is tt5165412
Match for Strange Angel: Strange Angel. ID is tt7210448
Match for Strong: Strong Woman Do Bong-soon. ID is tt6263222
Match for Succession: Succession. ID is tt7660850
Match for Sun Records: Sun Records. ID is tt5583410
Match for Superhuman: Superhuman. ID is tt0370208
Match for Superstition: Superstition. ID is tt7379872
Match for Sweet/Vicious: Sweet/Vicious. ID is tt5012644
Match for Take It All: Take It All. ID is tt2486556
Match for Take Two: Take Two with Phineas and Ferb. ID is tt1887491
Match for Tales: Tales. ID is tt6971054
Match for That Awkward Game Show: That Awkward Game Show. ID is tt6145922
Match for The Bold Type: The Bold Type. ID is tt6116060
Match for The Choice: The Choice. ID is tt2191952
Match for The Collection: The Collection. ID is tt5239494
Match for The End of the F***ing World: The End of the F***ing World. ID is tt6257970
Match for The Great Indoors: The Great Indoors. ID is tt5485566
Match for The Hasselhoffs: The Hasselhoffs. ID is tt1705811
Match for The Insider: The Insider. ID is tt0430836
Match for The Jeff Probst Show: The Jeff Probst Show. ID is tt1978332
Match for The Jim Jefferies Show: The Jim Jefferies Show. ID is tt6987966
Match for The Last Tycoon: The Last Tycoon. ID is tt3390892
Match for The Letter: The Letter People. ID is tt0285289
Match for The Long Road Home: The Long Road Home. ID is tt1210820

Match for The Million Second Quiz: The Million Second Quiz. ID is tt3038492
Match for The Orville: The Orville. ID is tt5691552
Match for The Outpost: Star Trek: The Romulan Wars - The Outpost. ID is tt5331942
Match for The Queen Latifah Show: The Queen Latifah Show. ID is tt2099467
Match for The Ricki Lake Show: The Ricki Lake Show. ID is tt1908423
Match for The Tick: The Tick. ID is tt5540054
Match for The Toy Box: The Toy Box. ID is tt6392176
Match for The Wall: Against the Wall. ID is tt1836237
Match for The Winner Is...: The Winner Is. ID is tt2341735
Match for There's... Johnny!: There's... Johnny!. ID is tt6483198
Match for This is Not Happening: This Is Not Happening. ID is tt3528306
Match for Three Rivers: Three Rivers. ID is tt1440346
Match for Too Close to Home: Too Close to Home. ID is tt5596646
Match for Tori & Dean: sTORIbook Weddings: Tori & Dean: Storibook Weddings. ID is tt1705812
Match for Tracks: Tracks. ID is tt0310534
Match for Truth & Iliza: Truth & Iliza. ID is tt6847436
Match for Ultimate Beastmaster: Ultimate Beastmaster. ID is tt5607970
Match for Upscale with Prentice Penny: Upscale with Prentice Penny. ID is tt6668854
No match found for Vegas Cakes
Match for Walk the Prank: Walk the Prank. ID is tt5486088
Match for What Would Ryan Lochte Do?: What Would Ryan Lochte Do?. ID is tt2798842
Match for Will: Will. ID is tt5734140
Match for Z: The Beginning of Everything: Z: The Beginning of Everything. ID is tt4878612

In [21]:
missing_imdb.tail(30)

,name,found_id,found_name
1305,The Hasselhoffs,tt1705811,The Hasselhoffs
1308,The Insider,tt0430836,The Insider
1311,The Jeff Probst Show,tt1978332,The Jeff Probst Show
1313,The Jim Jefferies Show,tt6987966,The Jim Jefferies Show
1324,The Last Tycoon,tt3390892,The Last Tycoon
1327,The Letter,tt0285289,The Letter People
1331,The Long Road Home,tt1210820,The Long Road Home
1348,The Million Second Quiz,tt3038492,The Million Second Quiz
1370,The Orville,tt5691552,The Orville
1371,The Outpost,tt5331942,Star Trek: The Romulan Wars - The Outpost
1382,The Queen Latifah Show,tt2099467,The Queen Latifah Show
1400,The Ricki Lake Show,tt1908423,The Ricki Lake Show
1421,The Tick,tt5540054,The Tick
1423,The Toy Box,tt6392176,The Toy Box
1429,The Wall,tt1836237,Against the Wall
1434,The Winner Is...,tt2341735,The Winner Is
1441,There's... Johnny!,tt6483198,There's... Johnny!
1442,This is Not Happening,tt3528306,This Is Not Happening
1446,Three Rivers,tt1440346,Three Rivers
1455,Too Close to Home,tt5596646,Too Close to Home
1462,Tori & Dean: sTORIbook Weddings,tt1705812,Tori & Dean: Storibook Weddings
1465,Tracks,tt0310534,Tracks
1479,Truth & Iliza,tt6847436,Truth & Iliza
1488,Ultimate Beastmaster,tt5607970,Ultimate Beastmaster
1502,Upscale with Prentice Penny,tt6668854,Upscale with Prentice Penny
1509,Vegas Cakes,NaN,NaN
1519,Walk the Prank,tt5486088,Walk the Prank
1534,What Would Ryan Lochte Do?,tt2798842,What Would Ryan Lochte Do?
1547,Will,tt5734140,Will
1571,Z: The Beginning of Everything,tt4878612,Z: The Beginning of Everything

Success! We got a good number of matches, and the leftovers are few enough that I can do a quick check for the remainder and just write those into the CSV. Additionally, those matches we did get seem entirely accurate.

For now, we'll add these IMDB IDs back into the original dataframe nad go from there!

In [22]:
for show in missing_imdb['name']:
    tvmaze.loc[tvmaze['name'] == show,'imdb'] = missing_imdb.loc[missing_imdb['name'] == show,'found_id']

Doing some spot checking...

In [23]:
tvmaze.loc[tvmaze['name'] == 'The Hasselhoffs','imdb']

1305    tt1705811
Name: imdb, dtype: object

In [24]:
tvmaze.loc[tvmaze['name'] == 'The Outpost']

             name    tv_id       imdb   prem_date  rating  runtime   ep_day
1371  The Outpost  34419.0  tt5331942  2018-07-10     NaN     60.0  Tuesday

In [25]:
tvmaze.isnull().sum()

name           5
tv_id          5
imdb           8
prem_date     12
rating       466
runtime       13
ep_day         5
dtype: int64

In [26]:
tvmaze[tvmaze['imdb'].isnull()]

,name,tv_id,imdb,prem_date,rating,runtime,ep_day
141,Ben and Lauren: Happily Ever After,20882.0,NaN,2016-10-11,NaN,60.0,Tuesday
151,Bethenny and Fredrik,27702.0,NaN,2018-02-06,NaN,30.0,Tuesday
204,Brandi & Jarrod: Married to the Job,15352.0,NaN,2014-08-12,NaN,30.0,Tuesday
301,Crash Course Engineering,36786.0,NaN,NaN,NaN,NaN,Multiple
625,Ink Master: Redemption,3097.0,NaN,2015-09-08,NaN,30.0,Tuesday
808,"Me, Myself & I",20660.0,NaN,2017-09-25,6.5,30.0,Monday
872,Nate and Jeremiah by Design,25890.0,NaN,2017-04-08,NaN,60.0,Saturday
1509,Vegas Cakes,33303.0,NaN,2017-11-05,NaN,30.0,Multiple

Awesome, we've greatly reduced the number of missing IDs. Let's save this to CSV and then I'll fill in the remainder myself.

In [28]:
tvmaze.to_csv("tvmaze_tmp_4_more_ids.csv")

I found matches for all but 2: Ink Master Redemption (which is considered to be the same thing as Ink Master by IDMB, which we already have in our dataset), and Crash Course Engineering (this is a YouTube series). We'll probably delete both once we get into the analysis and modeling phases.

In [61]:
tvmaze[tvmaze['tvmaze_name']=='Caprica']

,tvmaze_name,tvmaze_tv_id,imdb_id,tvmaze_prem_date,tvmaze_rating,tvmaze_runtime,tvmaze_ep_day
234,Caprica,433.0,tt0799862,2010-01-22,7.4,60.0,Tuesday

In [4]:
tvmaze = pd.read_csv("tvmaze_tmp_5_more_ids_MORE ADDITIONS.csv",index_col=0)

In [5]:
tvmaze.isnull().sum()

name           5
tv_id          6
imdb           2
prem_date     12
rating       466
runtime       13
ep_day         5
dtype: int64

Awesome! Only one thing remains for now. Let's merge this with our shows df. Luckily, they rely on the exact same indices.

In [6]:
l = []
for col in tvmaze.columns:
    l.append('tvmaze_'+col)

In [7]:
l

['tvmaze_name',
 'tvmaze_tv_id',
 'tvmaze_imdb',
 'tvmaze_prem_date',
 'tvmaze_rating',
 'tvmaze_runtime',
 'tvmaze_ep_day']

In [8]:
l[2] = 'imdb_id'

In [9]:
l

['tvmaze_name',
 'tvmaze_tv_id',
 'imdb_id',
 'tvmaze_prem_date',
 'tvmaze_rating',
 'tvmaze_runtime',
 'tvmaze_ep_day']

In [10]:
tvmaze.columns = l

In [11]:
tvmaze.head()

,tvmaze_name,tvmaze_tv_id,imdb_id,tvmaze_prem_date,tvmaze_rating,tvmaze_runtime,tvmaze_ep_day
0,$#*! My Dad Says,1986.0,tt1612578,9/23/2010,6.2,30.0,Thursday
1,100 Code,3953.0,tt3515512,3/11/2015,8.1,60.0,Wednesday
2,101 Ways to Leave a Gameshow,12166.0,tt1702030,7/10/2010,NaN,60.0,Saturday
3,12 Monkeys,614.0,tt3148266,1/16/2015,7.9,60.0,Friday
4,13 Reasons Why,7194.0,tt1837492,3/31/2017,8.2,60.0,Friday

In [12]:
tvmaze.isnull().sum()

tvmaze_name           5
tvmaze_tv_id          6
imdb_id               2
tvmaze_prem_date     12
tvmaze_rating       466
tvmaze_runtime       13
tvmaze_ep_day         5
dtype: int64

In [13]:
tvmaze.iloc[234:]

,tvmaze_name,tvmaze_tv_id,imdb_id,tvmaze_prem_date,tvmaze_rating,tvmaze_runtime,tvmaze_ep_day
234,Caprica,433.0,tt0799862,1/22/2010,7.4,60.0,Tuesday
235,The Capture,35512.0,tt1100911,NaN,NaN,60.0,Multiple
236,Cardinal,18613.0,tt5583512,1/25/2017,7.9,60.0,Thursday
237,Cash Cab,8327.0,tt0465321,6/13/2005,NaN,30.0,Monday
238,Castle,68.0,tt1219024,3/9/2009,8.4,60.0,Monday
239,Castlevania,25242.0,tt6517102,7/7/2017,7.1,30.0,Friday
240,Casual,3036.0,tt4577466,10/7/2015,7.4,30.0,Tuesday
241,Catastrophe,3004.0,tt4374208,1/19/2015,8.2,35.0,Tuesday
242,Catch a Contractor,2287.0,tt3108438,3/9/2014,NaN,60.0,Sunday
243,Catfish: The TV Show,997.0,tt2498968,11/12/2012,7.3,60.0,Wednesday
244,Cedar Cove,2489.0,tt2871832,7/20/2013,7.3,60.0,Saturday
245,Cedric's Barber Battle,1592.0,tt4346996,4/17/2015,NaN,30.0,Monday
246,CeeLo Green's The Good Life,25900.0,tt3774098,6/23/2014,NaN,30.0,Monday
247,Celebrity Big Brother,31713.0,tt0279550,2/7/2018,4.5,60.0,Multiple
248,Celebrity Family Feud,2212.0,tt1249208,6/21/2015,NaN,60.0,Sunday
249,Celebrity Rehab with Dr. Drew,6989.0,tt1114705,1/10/2008,NaN,60.0,Wednesday
250,Celebrity Wife Swap,1783.0,tt2125758,1/2/2012,NaN,60.0,Wednesday
251,Champions,28166.0,tt6470396,3/8/2018,4.7,30.0,Thursday
252,Chance,11307.0,tt5620076,10/19/2016,8.2,60.0,Wednesday
253,Channel Zero,8706.0,tt4820370,10/11/2016,7.0,60.0,Wednesday
254,Chaos,971.0,tt1591468,4/1/2011,7.8,60.0,Saturday
255,Charlie's Angels,447.0,tt1760943,9/22/2011,7.2,60.0,Thursday
256,The Chase,8574.0,tt1502749,6/29/2009,NaN,60.0,Multiple
257,Chasing Life,298.0,tt2399794,6/10/2014,7.4,60.0,Monday
258,Cheer Perfection,9596.0,tt2301076,12/19/2012,NaN,60.0,Wednesday
259,Cheer Squad,15320.0,tt5993744,8/22/2016,NaN,60.0,Multiple
260,Chef Roblé & Co.,14350.0,tt1879801,12/4/2011,NaN,60.0,Wednesday
261,Chef's Table,3252.0,tt4295140,4/26/2015,8.8,50.0,Friday
262,Chelsea,16628.0,tt5672036,5/11/2016,7.5,30.0,Friday
263,Chesapeake Shores,6744.0,tt5151816,8/14/2016,7.9,60.0,Sunday
...,...,...,...,...,...,...,...
1545,Wife Swap,25006.0,tt0392948,1/1/2003,NaN,60.0,Monday
1546,Wilfred,556.0,tt1703925,6/23/2011,7.7,30.0,Multiple
1547,Will,13356.0,tt5734140,7/10/2017,5.5,60.0,Monday
1548,Will & Grace,549.0,tt0157246,9/21/1998,7.4,30.0,Thursday
1549,Wipeout,980.0,tt1156535,6/24/2008,NaN,60.0,Sunday
1550,Wisdom of the Crowd,25177.0,tt6522758,10/1/2017,6.9,60.0,Sunday
1551,Witches of East End,47.0,tt2288064,10/6/2013,7.7,60.0,Sunday
1552,Without a Trace,813.0,tt0321021,9/26/2002,8.0,60.0,Multiple
1553,Work It,4893.0,tt1826951,1/3/2012,NaN,30.0,Tuesday
1554,Workaholics,370.0,tt1610527,4/6/2011,7.8,30.0,Wednesday
1555,Working Class,7785.0,tt1707394,1/28/2011,NaN,30.0,Friday
1556,Working the Engels,5596.0,tt3489108,7/10/2014,NaN,30.0,Wednesday
1557,World of Dance,21599.0,tt5895884,5/30/2017,8.5,60.0,Tuesday
1558,Wrecked,3590.0,tt4168956,6/14/2016,6.2,30.0,Tuesday
1559,WWE Tough Enough,4703.0,tt2026808,6/21/2001,NaN,NaN,Multiple
1560,Wynonna Earp,6767.0,tt4878326,4/1/2016,7.2,60.0,Friday
1561,You Deserve It,14355.0,tt1910674,11/21/2011,NaN,60.0,Monday
1562,You Me Her,8865.0,tt5179408,3/22/2016,8.1,30.0,Tuesday
1563,You the Jury,25944.0,tt6723012,4/7/2017,NaN,60.0,Friday
1564,You're the Worst,312.0,tt3228420,7/17/2014,7.8,30.0,Wednesday
1565,"You, Me and the Apocalypse",2948.0,tt4337894,9/30/2015,8.1,60.0,Thursday
1566,Young & Hungry,1745.0,tt2084712,6/25/2014,7.6,30.0,Monday
1567,Young Sheldon,26020.0,tt6226232,9/25/2017,7.5,30.0,Thursday
1568,Younger,623.0,tt3288518,3/31/2015,7.5,30.0,Wednesday
1569,Your Family or Mine,1740.0,tt3597660,4/7/2015,7.0,30.0,Tuesday
1570,Z Nation,38.0,tt3843168,9/12/2014,7.2,60.0,Friday
1571,Z: The Beginning of Everything,10801.0,tt4878612,11/5/2015,6.9,60.0,Friday
1572,Zach Stone is Gonna Be Famous,7809.0,tt1748277,5/2/2013,NaN,30.0,Thursday
1573,Zero Hour,1010.0,tt2215797,2/14/2013,7.6,60.0,Saturday
1574,The Zoo,25067.0,tt6440422,2/18/2017,7.5,60.0,Saturday

In [14]:
shows = shows.join(tvmaze)

In [15]:
shows.head()

,genre,link,network,status,tagline,title,years,start_year,end_year,synopsis,...,Horror,Legal,Medical,tvmaze_name,tvmaze_tv_id,imdb_id,tvmaze_prem_date,tvmaze_rating,tvmaze_runtime,tvmaze_ep_day
0,Comedy,http://www.ismyshowcancelled.com/show/2010/ble...,CBS,Cancelled,"A sitcom based on the Twitter feed ""S*** My Da...",$#*! My Dad Says,2010 - 2011,2010,2011.0,Ed is an opinionated and divorced 72-year-old ...,...,0,0,0,$#*! My Dad Says,1986.0,tt1612578,9/23/2010,6.2,30.0,Thursday
1,Drama / Crime,http://www.ismyshowcancelled.com/show/2018/100...,WGN America,Coming Soon,A thriller following an New York cop who trave...,100 Code,2018 - Present,2018,NaN,NYPD Detective Tommy Conley travels to Sweden ...,...,0,0,0,100 Code,3953.0,tt3515512,3/11/2015,8.1,60.0,Wednesday
2,Game Show,http://www.ismyshowcancelled.com/show/2011/101...,ABC,Cancelled,A game show competition where contestants are ...,101 Ways to Leave a Gameshow,2011 - 2011,2011,2011.0,"In 101 Ways to Leave a Game Show, contestants ...",...,0,0,0,101 Ways to Leave a Gameshow,12166.0,tt1702030,7/10/2010,NaN,60.0,Saturday
3,Drama / Sci-fi,http://www.ismyshowcancelled.com/show/2015/12-...,Syfy,On Air,A drama following a man sent back in time to p...,12 Monkeys,2015 - Present,2015,NaN,"By the year 2043, a deadly virus has wiped out...",...,0,0,0,12 Monkeys,614.0,tt3148266,1/16/2015,7.9,60.0,Friday
4,Drama,http://www.ismyshowcancelled.com/show/2017/13-...,Netflix,On Air,A drama following the revelation of why a youn...,13 Reasons Why,2017 - Present,2017,NaN,Hannah Baker is a teenage girl who takes her o...,...,0,0,0,13 Reasons Why,7194.0,tt1837492,3/31/2017,8.2,60.0,Friday

Saving to pkl and csv...

In [16]:
shows.to_csv("full_shows_tmp_1_tvmaze_plus_imdbids.csv")

In [17]:
shows.to_pickle("full_shows_tmp_1_tvmaze_plus_imdbids.pkl")

In [18]:
shows.shape

(1575, 32)

In [19]:
shows.isnull().sum()

genre                  0
link                   0
network                0
status                 0
tagline                0
title                  0
years                  0
start_year             0
end_year             595
synopsis               0
primary_genre          0
secondary_genre     1070
Comedy                 0
Drama                  0
Game Show              0
Reality                0
Sci-fi                 0
Talk                   0
Crime                  0
Action                 0
Fantasy                0
Animated               0
Horror                 0
Legal                  0
Medical                0
tvmaze_name            5
tvmaze_tv_id           6
imdb_id                2
tvmaze_prem_date      12
tvmaze_rating        466
tvmaze_runtime        13
tvmaze_ep_day          5
dtype: int64